.mfa-registration-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content auto min-content;
}

.mfa-registration-container__description {
  grid-column: $grid-column-content;
  grid-row: $grid-row-description;
}

.mfa-registration-container__status {
  align-items: center;
  display: flex;
  grid-column: $grid-column-content;
  grid-row: $grid-row-status;
}

.status-message__icon {
  color: $color-status-icon;
}

.status-message__description {
  margin-left: $spacing-status-message;
}

.status-message--error {
  color: $color-status-bad;

  .status-message__icon {
    color: $color-status-bad;
  }
}

.mfa-registration-container__thumbnail {
  grid-column: $grid-column-thumbnail;
  grid-row: $grid-row-thumbnail;
  height: $sizing-thumbnail;
  padding: $padding-thumbnail;
  width: $sizing-thumbnail;
}

.mfa-registration-container__actions {
  grid-column: $grid-column-content;
  grid-row: $grid-row-actions;
}
