.mfa-verification-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content auto min-content;
}

.mfa-verification-container__description {
  grid-column: $grid-column-content;
  grid-row: $grid-row-description;

  a {
    margin: auto 0.24em;
  }
}

.mfa-verification-container__status {
  align-items: center;
  display: flex;
  grid-column: $grid-column-content;
  grid-row: $grid-row-status;
}

.status-message__icon {
  color: $color-status-icon;
}

.status-message__description {
  margin-left: $spacing-status-message;
}

.mfa-verification-container__thumbnail {
  grid-column: $grid-column-thumbnail;
  grid-row: $grid-row-thumbnail;
  height: $sizing-thumbnail;
  padding: $padding-thumbnail;
  width: $sizing-thumbnail;
  display: none;

  @media screen and (min-width: $mobile-breakpoint) {
    display: block;
  }
}

.mfa-verification-container__actions {
  grid-column: $grid-column-content;
  grid-row: $grid-row-actions;
  margin-top: 20px;

  @media screen and (min-width: $mobile-breakpoint) {
    margin-top: 0;
  }
}
