$color-status-icon: rgba(0, 113, 196, 1); // $color-blue from mfa module
$color-status-bad: rgba(169, 30, 46, 1); // $color-message-error from mfa module

$padding-thumbnail: 20px;
$sizing-thumbnail: 260px;
$spacing-status-message: 1em;

$grid-column-content: 1;
$grid-column-thumbnail: 2;

$grid-row-description: 1;
$grid-row-status: 2;
$grid-row-actions: 3;
$grid-row-thumbnail: 1 / span 2;
